body{
    
    height: 600px;
    background-image: url("fondo2.webp");
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center center;
    
}
    

h1{
    font-family:'Arial' ;
    text-align: center;
    color: #ffffff;
}



form{
    border-radius: 5em;
    padding:  60px;
    border: 2px solid ;
    border-color:#00ecfd;
    background: #021e52;
    width: 450px;
    position:absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}


.genera{
    padding: 10px;
    
}

.label{
    float:left none;
    font-family:'Franklin Gothic Medium' ;
    margin: auto;
    color: #fafafa;
    
 
    
}


input{
    display: block;
    padding: 3px 0px;
    margin:auto 9pc;
      
}

.button{
    width: 50%;
    background-color:#0492bc;
    border: none;
    border-radius: 1em;
    color:#ffffff;
    font-family:'arial';
    padding: 6px 0px ;  
    display: flex;
    margin: auto;
    text-align: center;
    justify-content: center;
    
}

div{
    text-align: center;   
}

