
html{
    font-size: 16px;
}
.social-bar{
    position:fixed;
    right: 0;
    top:35%;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 100;
}

.icon{
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: .7rem;
    display: flex;
    transition: all .5s;
    background-color: #042877;
}

.icon-facebook{
    background: #0459f8;
}

.icon-google{
    background: #ca302a;
}

.icon-instagram{
    background: #d42962;
}

.icon:first-child {
    border-radius: 1rem 0 0 0;
}

.icon:last-child{
    border-radius: 0 0 0 1rem;
}

.icon:hover{
    padding-right: 3.rem;
    border-radius: 1rem 0 0 1rem;
    box-shadow: 0 0 .5rem rgba(0, 0, 0.42);
}